
<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #homepageForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="userLogIn.email" name="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="userLogIn.password" name="password">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="">Submit</button>
    </form>
  </div>
</div>

<div *ngFor="let name of shops">
  {{name}}
</div>