<link rel="stylesheet" type="text/css" href="transactionhistory.component.css">
<div style="height: 600px; overflow: auto;">
<div class="card">
    <p-table [value]="transactions">
        <ng-template pTemplate="header" style="position:sticky;">
            <tr>
                <th id="firstCol">Shop Name</th>
                <th id="secondCol">Amount</th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Date
                        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th id="fourthCol">Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transactions>
            <tr>
                <td>{{ transactions.name }}</td>
                <td>{{ transactions.amount }}</td>
                <td>{{ transactions.datetime | date: 'MM/dd/yyyy' }}</td>
                <td>{{ transactions.status }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>