<!-- <link rel="stylesheet" type="text/css" href="register.component.css" />

<nav>
    <div style="display: grid; place-items: center;">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Welcome to our app </div>
    </div>
    
    <div>
        <div class="card flex justify-content-left">
            <p-dropdown #myDropdown [options]="dropdownOptions"  (ngModelChange)="onOptionChange($event)" autoDisplayFirst></p-dropdown>
        </div>
        <br>
        <form  #registerForm="ngForm">
            Additional inputs for shopper
            <div *ngIf="myDropdown.value === 'shop'">
             Add your additional inputs here 
                <label for="name" class="block text-900 font-medium mb-2">Shop Name</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-shopping-bag"></i>
                    </span>
                    <input  required class="full-width-input" pInputText id="name" type="text" placeholder="Shop Name"  style="width: 100%;">
                </div>
            </div>
            Additional inputs for payer 
            <div *ngIf="myDropdown.value === 'customer'">
            Add your additional inputs here
                    <label for="firstname" class="block text-900 font-medium mb-2">First Name</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <input  required [(ngModel)]="customerSignUp.firstname"  class="full-width-input"  pInputText  id="firstname" type="text" placeholder="First Name" >
                    </div>
                    <label for="lastname" class="block text-900 font-medium mb-2">Last Name</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <input  required [(ngModel)]="customerSignUp.lastname" class="full-width-input"  id="lastname" type="text" placeholder="Last Name" pInputText >
                    </div>
                    <label for="birthday" class="block text-900 font-medium mb-2">BirthDay</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-calendar"></i>
                        </span>
                        <input  required [(ngModel)]="customerSignUp.birthday" class="full-width-input"  id="birthday" type="text" placeholder="BirthDay" pInputText>
                    </div>
                    <label for="weeklylimit" class="block text-900 font-medium mb-2">Weekly Limit</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-money-bill"></i>
                        </span>
                        <input  required [(ngModel)]="customerSignUp.weeklylimit" class="full-width-input"  id="weeklylimit" type="text" placeholder="Weekly Limit" pInputText>
                    </div>
                    <label for="weeklytransfer" class="block text-900 font-medium mb-2">Weekly Transfer</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-money-bill"></i>
                        </span>
                        <input required [(ngModel)]="customerSignUp.weeklytransfer" class="full-width-input"  id="weeklytransfer" type="text" placeholder="Weekly Transfer" pInputText>
                    </div>
            </div>
            
        <label for="vat" class="block text-900 font-medium mb-2">Vat Code</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-info-circle"></i>
            </span>
            <input required [(ngModel)]="customerSignUp.vat" class="full-width-input"  id="vat" type="text" placeholder="Vat Code" pInputText >
        </div>
        <label for="birthaddress" class="block text-900 font-medium mb-2">Birth Address</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-home"></i>
            </span>
            <input required [(ngModel)]="customerSignUp.birthaddress" class="full-width-input"  id="birthaddress" type="text" placeholder="Address" pInputText >
        </div>
         <label for="Iban/PayPal" class="block text-900 font-medium mb-2">Iban or PayPal</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-info-circle"></i>
            </span>
            <input class="full-width-input"  id="Iban/PayPal" type="text" placeholder="GR8949023590239034" pInputText >
        </div>
       
        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input required [(ngModel)]="customerSignUp.email" class="full-width-input"  id="email" type="text" placeholder="Email address" pInputText >
        </div>
        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input required [(ngModel)]="customerSignUp.birthaddress" class="full-width-input"  id="password" type="password" placeholder="Password" pInputText >
        </div>

        <br>
        <br>
        <button (click)="submitForm()"type="button" class="connectButton" routerLink="">Submit</button>
    </form>
    </div>

</div>
</div>
</nav> 
<div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #homepageForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="customerSignUp.email" name="email">
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="customerSignUp.password" name="password">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control" id="password" [(ngModel)]="customerSignUp.password" name="password">
          </div>
        <button type="submit" class="btn btn-success" [disabled]="">Submit</button>
      </form>
    </div>
  </div> -->
  <link rel="stylesheet" type="text/css" href="register.component.css" />
  <nav>
    <div style="display: grid; place-items: center;">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">Welcome to our Site</div>
            </div>
            <div class="container">
                <div class="card flex justify-content-left">
                    <p-dropdown #myDropdown [options]="dropdownOptions"  (ngModelChange)="onOptionChange($event)" autoDisplayFirst></p-dropdown>
                </div>
                <br>
                <div [hidden]="submitted">
                <form (ngSubmit)="onSubmit()" #homepageForm="ngForm">
                    <div *ngIf="myDropdown.value === 'shop'">
                    <!-- shopper fields -->
                    <div class="form-group">
                        <label for="name" class="block text-900 font-medium mb-2">Shop Name</label>
                        <input type="text" class="form-control" id="name" class="w-full mb-3" pInputText placeholder="Magazi" required [(ngModel)]="shopperSignUp.name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="block text-900 font-medium mb-2">Email</label>
                        <input type="email" class="form-control" id="email" class="w-full mb-3" pInputText placeholder="helo@gmail" required [(ngModel)]="shopperSignUp.email" name="email">
                        </div>
                
                        <div class="form-group">
                        <label for="password" class="block text-900 font-medium mb-2">Password</label>
                        <input type="password" class="form-control" id="password" pInputText class="w-full mb-3" [(ngModel)]="shopperSignUp.password" name="password">
                        </div>
                    <div class="form-group">
                        <label for="vat" class="block text-900 font-medium mb-2">Vat</label>
                        <input type="text" class="form-control" id="vat" class="w-full mb-3" pInputText required [(ngModel)]="shopperSignUp.vat" name="vat">
                    </div>
                    <div class="form-group">
                        <label for="email" class="block text-900 font-medium mb-2">Address</label>
                        <input type="text" class="form-control" id="birthaddress" class="w-full mb-3" pInputText required [(ngModel)]="shopperSignUp.address" name="address">
                    </div>
                    <div class="form-group">
                        <label for="vat" class="block text-900 font-medium mb-2">Picture link</label>
                        <input type="text" class="form-control" id="vat" class="w-full mb-3" pInputText required [(ngModel)]="shopperSignUp.picture" name="picture">
                    </div>

                    </div>
                    <div *ngIf="myDropdown.value === 'customer'">
                    <div class="form-group">
                        <label for="name" class="block text-900 font-medium mb-2">First Name</label>
                        <input type="text" class="form-control" id="firstname" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.firstname" name="firstname">
                    </div>
                    <div class="form-group">
                        <label for="name" class="block text-900 font-medium mb-2">Last Name</label>
                        <input type="text" class="form-control" id="lastname" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.lastname" name="lastname">
                    </div>
                    <div class="form-group">
                        <label for="email" class="block text-900 font-medium mb-2">BirthDay</label>
                        <input type="date" class="form-control" id="birthday" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.birthday" name="birthday">
                    </div>
                    <div class="form-group">
                        <label for="email" class="block text-900 font-medium mb-2">Birth Address</label>
                        <input type="text" class="form-control" id="birthaddress" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.birthaddress" name="birthaddress">
                    </div>
                    <div class="form-group">
                        <label for="vat" class="block text-900 font-medium mb-2">Vat</label>
                        <input type="text" class="form-control" id="vat" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.vat" name="vat">
                    </div>

                    <div class="form-group">
                        <label for="email" class="block text-900 font-medium mb-2">Weekly transfer</label>
                        <input type="number" class="form-control" id="weeklytransfer" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.weeklytransfer" name="weeklytransfer">
                    </div>

                    <div class="form-group">
                        <label for="email" class="block text-900 font-medium mb-2">Weekly transfer</label>
                        <input type="number" class="form-control" id="weeklylimit" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.weeklylimit" name="weeklylimit">
                    </div>
                   
                    <div class="form-group">
                    <label for="email" class="block text-900 font-medium mb-2">Email</label>
                    <input type="email" class="form-control" id="email" class="w-full mb-3" pInputText required [(ngModel)]="customerSignUp.email" name="email">
                    </div>
            
                    <div class="form-group">
                    <label for="password" class="block text-900 font-medium mb-2">Password</label>
                    <input type="password" class="form-control" id="password" pInputText class="w-full mb-3" [(ngModel)]="customerSignUp.password" name="password">
                    </div>
                </div>
                    <button type="submit"  class="btn btn-success" class="connectButton" [disabled]="">Submit</button>
                </form>
                </div>
            </div>

</div>
<br>
</div>
  </nav>