hr.solid {
    border-top: 3px solid #bbb;
  }

a{
    color: antiquewhite;
}
.custom-button {
  background-color:black;
  color: #fff; 
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .topbar {
    width: 100%;
   
    height: 50px;
    background-color: oklch(51.01% 0.274 263.83);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .topbar-left,
  .topbar-right {
    display: flex;
    align-items: center;
  }
  
  .topbar-right {
    justify-content: center;
  }
  
  .topbar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .topbar-right ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .topbar-right ul li a {
    color: #fff;
    text-decoration: none;
  }
  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
  }